.map-wrapper {
  flex: 1;
  position: relative;

  .map {
    width: 100vw;
    height: 100vh;
  }


  .icon {
    position: absolute;
    right: 18px;
    bottom: 156px;
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
    transition-duration: 0.25s;
    box-shadow: 0px 8px 8px 0px rgba(1, 145, 255, 0.2);

    image {
      width: 48px;
      height: 48px;
    }
  }

  .actions {
    position: absolute;
    width: 100%;
    bottom: 64px;

    .action-item {
      padding: 0 36px;
      margin-top: 36px;
    }
  }
}
