.container {
  padding: 16px;
  font-size: 24px;
  background-color: #F5F7FA;
}

.title {
  text-align: center;
  font-size: 30px;
}

.update-date {
  text-align: center;
  margin: 20px 0;
  line-height: 36px;
}

.font-weight-bold {
  font-weight: bold;
}

.indent-2 {
  line-height: 1.5em;
  text-indent: 2em;
}
